In [1]:
!wget --header="Host: datahack-prod.s3.amazonaws.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://datahack.analyticsvidhya.com/contest/janatahack-healthcare-analytics/" "https://datahack-prod.s3.amazonaws.com/train_file/Train_2.zip" -c -O 'data.zip'

--2020-07-19 14:31:09--  https://datahack-prod.s3.amazonaws.com/train_file/Train_2.zip
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.62.56
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.62.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 932294 (910K) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>] 910.44K  1.59MB/s    in 0.6s

2020-07-19 14:31:10 (1.59 MB/s) - ‘data.zip’ saved [932294/932294]

In [2]:
!unzip data.zip

Archive:  data.zip
   creating: Train/
  inflating: Train/Data_Dictionary.xlsx
   creating: __MACOSX/
   creating: __MACOSX/Train/
  inflating: __MACOSX/Train/._Data_Dictionary.xlsx
  inflating: Train/First_Health_Camp_Attended.csv
  inflating: Train/Health_Camp_Detail.csv
  inflating: Train/Patient_Profile.csv
  inflating: Train/Second_Health_Camp_Attended.csv
  inflating: Train/Third_Health_Camp_Attended.csv
  inflating: Train/Train.csv

In [13]:
!wget --header="Host: datahack-prod.s3.amazonaws.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://datahack.analyticsvidhya.com/contest/janatahack-healthcare-analytics/" "https://datahack-prod.s3.amazonaws.com/test_file/test_l0Auv8Q.csv" -c -O 'test.csv'

--2020-07-19 14:33:02--  https://datahack-prod.s3.amazonaws.com/test_file/test_l0Auv8Q.csv
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.62.72
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.62.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164110 (1.1M) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>]   1.11M   449KB/s    in 2.5s

2020-07-19 14:33:06 (449 KB/s) - ‘test.csv’ saved [1164110/1164110]

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns

In [139]:
def get_date_features(df , column,name=""):
  df[column] = pd.to_datetime(df[column])
  df[name+'month'] = df[column].dt.month
  # df[name+'quarter'] = df[column].dt
  df[name+'day'] = df[column].dt.day
  return df

In [223]:
first_camp = pd.read_csv('Train/First_Health_Camp_Attended.csv')
first_camp = first_camp.rename(columns={"Donation":"First_camp_donation"})
first_camp.drop("Unnamed: 4",axis=1,inplace=True)
first_camp

      Patient_ID  Health_Camp_ID  First_camp_donation  Health_Score
0         506181            6560                   40      0.439024
1         494977            6560                   20      0.097561
2         518680            6560                   10      0.048780
3         509916            6560                   30      0.634146
4         488006            6560                   20      0.024390
...          ...             ...                  ...           ...
6213      502728            6575                   10      0.509804
6214      511088            6575                   20      0.078431
6215      507608            6575                   40      0.627451
6216      488046            6575                   50      0.686275
6217      508766            6575                   50      0.921569

[6218 rows x 4 columns]

In [224]:
second_camp = pd.read_csv('Train/Second_Health_Camp_Attended.csv')
second_camp = second_camp.rename(columns={"Health Score":"Health_Score"})

F_S_camp = pd.concat([first_camp,second_camp]).reset_index(drop=True)
F_S_camp['First_camp_donation'] = F_S_camp['First_camp_donation'].fillna(0)
F_S_camp

       Patient_ID  Health_Camp_ID  First_camp_donation  Health_Score
0          506181            6560                 40.0      0.439024
1          494977            6560                 20.0      0.097561
2          518680            6560                 10.0      0.048780
3          509916            6560                 30.0      0.634146
4          488006            6560                 20.0      0.024390
...           ...             ...                  ...           ...
14032      490853            6529                  0.0      0.103136
14033      499836            6529                  0.0      0.507841
14034      511286            6529                  0.0      0.627865
14035      522935            6529                  0.0      0.252714
14036      489487            6529                  0.0      0.691194

[14037 rows x 4 columns]

In [225]:
third_camp = pd.read_csv('Train/Third_Health_Camp_Attended.csv')
third_camp

      Patient_ID  ...  Last_Stall_Visited_Number
0         517875  ...                          1
1         504692  ...                          1
2         504692  ...                          1
3         493167  ...                          4
4         510954  ...                          2
...          ...  ...                        ...
6510      503791  ...                          3
6511      517319  ...                          3
6512      517319  ...                          3
6513      517319  ...                          4
6514      511234  ...                          4

[6515 rows x 4 columns]

In [246]:
patient_profile = pd.read_csv("Train/Patient_Profile.csv")
patient_profile.drop(['City_Type','Employer_Category'],axis=1,inplace=True)
patient_profile = get_date_features(patient_profile , "First_Interaction","first_interaction_")
# patient_profile.drop(['Income','Education_Score'],axis=1,inplace=True)
patient_profile.Age = patient_profile.Age.apply(lambda x:46 if x == "None" else int(x))
patient_profile.Education_Score = patient_profile.Education_Score.apply(lambda x:78 if x == "None" else float(x))
patient_profile.Income = patient_profile.Income.apply(lambda x:1 if x == "None" else int(x))

patient_profile
# col="Income"
# sns.distplot(patient_profile[patient_profile[col] != "None"][col].values)
# m = patient_profile[patient_profile[col] != "None"][col]
# m = pd.to_numeric(m)

       Patient_ID  ...  first_interaction_day
0          516956  ...                     18
1          507733  ...                     20
2          508307  ...                      2
3          512612  ...                      2
4          521075  ...                     24
...           ...  ...                    ...
37628      518600  ...                     28
37629      509515  ...                     27
37630      510713  ...                      1
37631      493667  ...                     27
37632      498051  ...                     29

[37633 rows x 11 columns]

In [247]:
camp_detail = pd.read_csv("Train/Health_Camp_Detail.csv")
camp_detail = get_date_features(camp_detail,"Camp_Start_Date",name="camp_start_")
camp_detail = get_date_features(camp_detail,"Camp_End_Date",name="camp_end_")
camp_detail['camp_duration_days'] = camp_detail.apply(lambda x:(x['Camp_End_Date'] - x['Camp_Start_Date']).total_seconds() / (60*60*24),axis=1)
camp_detail

    Health_Camp_ID Camp_Start_Date  ... camp_end_day camp_duration_days
0             6560      2003-08-16  ...           20                4.0
1             6530      2003-08-16  ...           28               73.0
2             6544      2003-11-03  ...           15               12.0
3             6585      2003-11-22  ...            5               13.0
4             6561      2003-11-30  ...           18               18.0
..             ...             ...  ...          ...                ...
60            6556      2006-11-09  ...           15               36.0
61            6551      2006-11-13  ...           18                5.0
62            6559      2006-12-11  ...           12               91.0
63            6567      2007-01-30  ...            4                5.0
64            6577      2007-01-30  ...            8               37.0

[65 rows x 11 columns]

In [248]:
train = pd.read_csv("Train/Train.csv")
train['is_train'] = True
test = pd.read_csv("test.csv")
test['is_train'] = False

merge = pd.concat([train,test]).reset_index(drop=True)
merge = merge.merge(patient_profile,on="Patient_ID")
merge = merge.merge(camp_detail , on= "Health_Camp_ID")

f_s_merge = merge[merge.Category1.isin(['First','Second'])].reset_index(drop=True).merge(F_S_camp,on=['Patient_ID','Health_Camp_ID'],how="left")
t_merge = merge[~merge.Category1.isin(['First','Second'])].reset_index(drop=True).merge(third_camp,on=['Patient_ID','Health_Camp_ID'],how="left")

f_s_merge = f_s_merge.fillna(0)
f_s_merge['outcome'] = f_s_merge.Health_Score.apply(lambda x:1 if x > 0 else 0)
f_s_merge.drop(['Health_Score'],axis=1,inplace=True)
f_s_merge

t_merge = t_merge.fillna(0)
t_merge['outcome'] = t_merge.Number_of_stall_visited.apply(lambda x:1 if x > 0 else 0)
t_merge.drop(['Number_of_stall_visited',"Last_Stall_Visited_Number"],axis=1 ,inplace=True)
# t_merge = t_merge.fillna(0) # dont change this.
t_merge

final = pd.concat([f_s_merge,t_merge])
final = final.fillna(0)
final.Category1 = pd.factorize(final.Category1)[0]
final.Category2 = pd.factorize(final.Category2)[0]
date_cols = ['Registration_Date','First_Interaction','Camp_Start_Date','Camp_End_Date']
for col in date_cols:
  final = get_date_features(final , col,col+"_")

final["days_left_for_camp_end_after_registration"] = final.apply(lambda x:(x['Camp_End_Date'] - x['Registration_Date']).total_seconds() / (60*60*24),axis=1)
final["days_camp_started_before_registration"] = final.apply(lambda x:(x['Registration_Date'] - x['Camp_Start_Date']).total_seconds() / (60*60*24),axis=1)
final['days_from_first_interaction'] = final.apply(lambda x:(x['Registration_Date'] - x['First_Interaction']).total_seconds() / (60*60*24),axis=1)
# final['days_for_camp_after_interaction'] = final.apply(lambda x:(x['Camp_Start_Date'] - x['First_Interaction']).total_seconds() / (60*60*24),axis=1)
# final['registration_before_or_after'] = final.apply(lambda x:1 if x['Registration_Date'] < x['Camp_Start_Date'] else 0 , axis=1)

final.drop(date_cols,inplace=True,axis=1)

train = final[final.is_train == True]
train.drop("is_train",axis=1,inplace=True)
train = train.reset_index(drop=True)
test = final[final.is_train == False]
test.drop("is_train",axis=1,inplace=True)
test = test.reset_index(drop=True)

In [249]:
uniques = pd.DataFrame(train.nunique(),columns=['unique_count'])
unique_cols = uniques[uniques.unique_count < 10].index.values.tolist()
unique_cols = [i for i in unique_cols if i not in ["outcome",'Number_of_stall_visited','Last_Stall_Visited_Number'] and not i.endswith("year")]
unique_cols

['Var3',
 'Var4',
 'Online_Follower',
 'LinkedIn_Shared',
 'Twitter_Shared',
 'Facebook_Shared',
 'Income',
 'Category1',
 'Category2',
 'Category3']

In [250]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)

In [251]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score ,train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier
import warnings
warnings.filterwarnings("ignore")

In [252]:
X = train.drop(["outcome",'Patient_ID',"Health_Camp_ID"],axis=1)
Y = train[['outcome']]

def get_score(y_true,y_pred):
  return roc_auc_score(y_true,y_pred)

# models = [XGBClassifier(),LGBMClassifier(),LogisticRegression(),RandomForestClassifier()]

# for model in models:
#   # model.fit(X,Y)
#   score = cross_val_score(model,X,Y,scoring="roc_auc",cv=5,verbose=False)
#   print(f"{str(model)[:20]}",np.array(score).mean(),score)
# break

In [254]:
X

       Var1  ...  days_from_first_interaction
0         0  ...                         99.0
1         0  ...                        137.0
2         0  ...                          1.0
3         1  ...                        585.0
4         0  ...                        774.0
...     ...  ...                          ...
75273     0  ...                         36.0
75274     0  ...                          8.0
75275     0  ...                         18.0
75276     0  ...                         18.0
75277     0  ...                         26.0

[75278 rows x 34 columns]

In [255]:
# x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,shuffle=True)
# model = LGBMClassifier()
from sklearn.model_selection import KFold

folds = KFold(n_splits=5,shuffle=True)
max_score = 0


for (train_idx,test_idx),i in zip(folds.split(X,Y),range(5)):
  print(f"working on Fold {i}")
  
  params = {
      "od_type":"Iter",
      "od_wait":50,
      "verbose":50
  }

  model = CatBoostClassifier(**params)
  model.fit(X.iloc[train_idx],Y.iloc[train_idx],
            cat_features = unique_cols , eval_set=(X.iloc[test_idx],Y.iloc[test_idx]))

  preds = model.predict_proba(X.iloc[test_idx])
  preds= [i[1] for i in preds]
  score = get_score(Y.iloc[test_idx],preds)
  if score > max_score:
    max_score = score
    best_idx = train_idx

  print("score :" ,score)
  print("---"*50)

working on Fold 0
Learning rate set to 0.087198
0:	learn: 0.4967170	test: 0.4934303	best: 0.4934303 (0)	total: 108ms	remaining: 1m 47s
50:	learn: 0.1966476	test: 0.1920749	best: 0.1920749 (50)	total: 4.66s	remaining: 1m 26s
100:	learn: 0.1928286	test: 0.1904441	best: 0.1904441 (100)	total: 9.21s	remaining: 1m 22s
150:	learn: 0.1894653	test: 0.1890208	best: 0.1890208 (150)	total: 13.6s	remaining: 1m 16s
200:	learn: 0.1868832	test: 0.1885600	best: 0.1885600 (200)	total: 18s	remaining: 1m 11s
250:	learn: 0.1842290	test: 0.1879041	best: 0.1879041 (250)	total: 22.5s	remaining: 1m 7s
300:	learn: 0.1816927	test: 0.1874953	best: 0.1874953 (300)	total: 27.2s	remaining: 1m 3s
350:	learn: 0.1793961	test: 0.1872722	best: 0.1872628 (348)	total: 31.8s	remaining: 58.7s
400:	learn: 0.1771521	test: 0.1869483	best: 0.1869483 (400)	total: 36.5s	remaining: 54.5s
450:	learn: 0.1753373	test: 0.1868603	best: 0.1868603 (450)	total: 41.2s	remaining: 50.1s
500:	learn: 0.1737093	test: 0.1868538	best: 0.1867804 (470)	total: 45.7s	remaining: 45.5s
550:	learn: 0.1715095	test: 0.1866699	best: 0.1865923 (538)	total: 50.5s	remaining: 41.1s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.186592283
bestIteration = 538

Shrink model to first 539 iterations.
score : 0.9686380945444258
------------------------------------------------------------------------------------------------------------------------------------------------------
working on Fold 1
Learning rate set to 0.087198
0:	learn: 0.4963662	test: 0.4958667	best: 0.4958667 (0)	total: 104ms	remaining: 1m 44s
50:	learn: 0.1961465	test: 0.1960017	best: 0.1960017 (50)	total: 4.56s	remaining: 1m 24s
100:	learn: 0.1923614	test: 0.1938824	best: 0.1938824 (100)	total: 8.89s	remaining: 1m 19s
150:	learn: 0.1891034	test: 0.1929888	best: 0.1929493 (148)	total: 13.3s	remaining: 1m 15s
200:	learn: 0.1864300	test: 0.1921758	best: 0.1921758 (200)	total: 17.8s	remaining: 1m 10s
250:	learn: 0.1836072	test: 0.1913615	best: 0.1913615 (250)	total: 22.3s	remaining: 1m 6s
300:	learn: 0.1809933	test: 0.1909206	best: 0.1909206 (300)	total: 26.8s	remaining: 1m 2s
350:	learn: 0.1786969	test: 0.1907832	best: 0.1907693 (349)	total: 31.4s	remaining: 58.1s
400:	learn: 0.1763626	test: 0.1906890	best: 0.1905591 (388)	total: 36.1s	remaining: 53.9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.1905590966
bestIteration = 388

Shrink model to first 389 iterations.
score : 0.9682606495437932
------------------------------------------------------------------------------------------------------------------------------------------------------
working on Fold 2
Learning rate set to 0.087198
0:	learn: 0.4868027	test: 0.4901563	best: 0.4901563 (0)	total: 111ms	remaining: 1m 50s
50:	learn: 0.1941583	test: 0.2042684	best: 0.2042684 (50)	total: 4.63s	remaining: 1m 26s
100:	learn: 0.1901709	test: 0.2025120	best: 0.2025120 (100)	total: 8.91s	remaining: 1m 19s
150:	learn: 0.1868058	test: 0.2011517	best: 0.2011517 (150)	total: 13.4s	remaining: 1m 15s
200:	learn: 0.1838967	test: 0.2006266	best: 0.2006234 (199)	total: 17.9s	remaining: 1m 11s
250:	learn: 0.1811693	test: 0.2002497	best: 0.2002139 (237)	total: 22.4s	remaining: 1m 6s
300:	learn: 0.1788321	test: 0.1999450	best: 0.1999374 (299)	total: 27s	remaining: 1m 2s
350:	learn: 0.1769471	test: 0.1999430	best: 0.1998936 (312)	total: 31.6s	remaining: 58.4s
400:	learn: 0.1746189	test: 0.1997796	best: 0.1997796 (400)	total: 36.2s	remaining: 54.1s
450:	learn: 0.1727317	test: 0.1996340	best: 0.1995910 (432)	total: 40.9s	remaining: 49.8s
500:	learn: 0.1708243	test: 0.1997302	best: 0.1995731 (455)	total: 45.5s	remaining: 45.3s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.1995730533
bestIteration = 455

Shrink model to first 456 iterations.
score : 0.9645459227477684
------------------------------------------------------------------------------------------------------------------------------------------------------
working on Fold 3
Learning rate set to 0.087199
0:	learn: 0.4940719	test: 0.4938692	best: 0.4938692 (0)	total: 103ms	remaining: 1m 42s
50:	learn: 0.1965046	test: 0.1981281	best: 0.1981281 (50)	total: 4.58s	remaining: 1m 25s
100:	learn: 0.1922573	test: 0.1961240	best: 0.1961149 (99)	total: 8.97s	remaining: 1m 19s
150:	learn: 0.1890135	test: 0.1948441	best: 0.1948441 (150)	total: 13.2s	remaining: 1m 14s
200:	learn: 0.1863130	test: 0.1942353	best: 0.1942353 (200)	total: 17.6s	remaining: 1m 9s
250:	learn: 0.1843198	test: 0.1940390	best: 0.1940214 (242)	total: 22.1s	remaining: 1m 5s
300:	learn: 0.1815825	test: 0.1936913	best: 0.1936752 (298)	total: 26.7s	remaining: 1m 2s
350:	learn: 0.1794656	test: 0.1937066	best: 0.1935342 (322)	total: 31.3s	remaining: 57.9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.1935341927
bestIteration = 322

Shrink model to first 323 iterations.
score : 0.9664867334668839
------------------------------------------------------------------------------------------------------------------------------------------------------
working on Fold 4
Learning rate set to 0.087199
0:	learn: 0.4927707	test: 0.4937596	best: 0.4937596 (0)	total: 107ms	remaining: 1m 46s
50:	learn: 0.1950031	test: 0.2003512	best: 0.2003512 (50)	total: 4.58s	remaining: 1m 25s
100:	learn: 0.1911921	test: 0.1985158	best: 0.1985158 (100)	total: 8.75s	remaining: 1m 17s
150:	learn: 0.1877621	test: 0.1972765	best: 0.1972765 (150)	total: 13.1s	remaining: 1m 13s
200:	learn: 0.1849517	test: 0.1967479	best: 0.1967415 (199)	total: 17.6s	remaining: 1m 9s
250:	learn: 0.1826955	test: 0.1967018	best: 0.1967018 (250)	total: 22s	remaining: 1m 5s
300:	learn: 0.1803422	test: 0.1962925	best: 0.1962832 (298)	total: 26.5s	remaining: 1m 1s
350:	learn: 0.1777388	test: 0.1960646	best: 0.1960523 (344)	total: 31.1s	remaining: 57.6s
400:	learn: 0.1754963	test: 0.1959486	best: 0.1958990 (398)	total: 35.8s	remaining: 53.4s
450:	learn: 0.1737972	test: 0.1957895	best: 0.1957758 (448)	total: 40.2s	remaining: 49s
500:	learn: 0.1719500	test: 0.1956968	best: 0.1956365 (491)	total: 44.7s	remaining: 44.6s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.195636473
bestIteration = 491

Shrink model to first 492 iterations.
score : 0.9659643049232572
------------------------------------------------------------------------------------------------------------------------------------------------------

In [257]:
# x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,shuffle=True)
# model = LGBMClassifier()
from sklearn.model_selection import KFold
params = {
    "od_type":"Iter",
    "od_wait":50,
    "verbose":50
}
val_idx = X[~X.index.isin(best_idx)].index.values.tolist()
val_idx

model = CatBoostClassifier(**params)
model.fit(X.iloc[best_idx],Y.iloc[best_idx],
          cat_features = unique_cols , eval_set=(X.iloc[val_idx],Y.iloc[val_idx]))

preds = model.predict_proba(X.iloc[val_idx])
preds= [i[1] for i in preds]
score = get_score(Y.iloc[val_idx],preds)

print("score :" ,score)

Learning rate set to 0.087198
0:	learn: 0.4967170	test: 0.4934303	best: 0.4934303 (0)	total: 109ms	remaining: 1m 49s
50:	learn: 0.1966476	test: 0.1920749	best: 0.1920749 (50)	total: 4.65s	remaining: 1m 26s
100:	learn: 0.1928286	test: 0.1904441	best: 0.1904441 (100)	total: 9.2s	remaining: 1m 21s
150:	learn: 0.1894653	test: 0.1890208	best: 0.1890208 (150)	total: 13.5s	remaining: 1m 16s
200:	learn: 0.1868832	test: 0.1885600	best: 0.1885600 (200)	total: 17.9s	remaining: 1m 11s
250:	learn: 0.1842290	test: 0.1879041	best: 0.1879041 (250)	total: 22.4s	remaining: 1m 6s
300:	learn: 0.1816927	test: 0.1874953	best: 0.1874953 (300)	total: 27s	remaining: 1m 2s
350:	learn: 0.1793961	test: 0.1872722	best: 0.1872628 (348)	total: 31.6s	remaining: 58.4s
400:	learn: 0.1771521	test: 0.1869483	best: 0.1869483 (400)	total: 36.3s	remaining: 54.3s
450:	learn: 0.1753373	test: 0.1868603	best: 0.1868603 (450)	total: 41s	remaining: 49.9s
500:	learn: 0.1737093	test: 0.1868538	best: 0.1867804 (470)	total: 45.6s	remaining: 45.4s
550:	learn: 0.1715095	test: 0.1866699	best: 0.1865923 (538)	total: 50.3s	remaining: 40.9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.186592283
bestIteration = 538

Shrink model to first 539 iterations.
score : 0.9686380945444258

In [ ]:
!pip install Bayesian_optimization

Requirement already satisfied: Bayesian_optimization in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from Bayesian_optimization) (0.22.2.post1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from Bayesian_optimization) (1.18.5)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from Bayesian_optimization) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->Bayesian_optimization) (0.16.0)

In [ ]:
def train_cat(learning_rate ,depth ,l2_leaf_reg ,bagging_temperature ):
  params = {
    "od_type":"Iter",
    "od_wait":25,
    "verbose":False,
    "learning_rate":learning_rate,
    "depth":int(depth),
    "l2_leaf_reg":int(l2_leaf_reg),
    "bagging_temperature":bagging_temperature , 
    }
    
  model = CatBoostClassifier(**params)
  model.fit(x_train,y_train,
            cat_features = unique_cols , eval_set=(x_test,y_test),verbose=False)
  preds = model.predict_proba(x_test)
  preds= [i[1] for i in preds]
  return get_score(y_test,preds)

In [ ]:
from bayes_opt import BayesianOptimization

bounds = {
    "learning_rate":(0.01,0.1),
    "depth":(3,10),
    "l2_leaf_reg":(2,15),
    "bagging_temperature":(0,1),
}

optimizer = BayesianOptimization(
    pbounds = bounds,
    f = train_cat
)

optimizer.maximize(n_iter=20,init_points=5)

|   iter    |  target   | baggin... |   depth   | l2_lea... | learni... |
-------------------------------------------------------------------------
|  1        |  0.9634   |  0.9108   |  3.223    |  14.22    |  0.07686  |
|  2        |  0.9633   |  0.3159   |  3.391    |  8.497    |  0.05627  |
|  3        |  0.9639   |  0.4608   |  5.62     |  5.355    |  0.03337  |
|  4        |  0.9636   |  0.6428   |  4.719    |  13.82    |  0.08765  |
|  5        |  0.9641   |  0.5998   |  7.109    |  5.429    |  0.06284  |
|  6        |  0.9642   |  0.2182   |  9.958    |  2.012    |  0.04398  |
|  7        |  0.964    |  0.3753   |  9.941    |  2.047    |  0.07342  |
|  8        |  0.9637   |  0.4856   |  9.988    |  2.034    |  0.05878  |
|  9        |  0.9641   |  0.07289  |  9.969    |  14.95    |  0.07341  |
|  10       |  0.964    |  0.0352   |  9.982    |  14.86    |  0.02174  |
|  11       |  0.9636   |  0.9798   |  3.13     |  2.012    |  0.07435  |
|  12       |  0.9639   |  0.4714   |  9.99     |  14.89    |  0.09875  |
|  13       |  0.9638   |  0.3702   |  9.924    |  2.069    |  0.09348  |
|  14       |  0.9639   |  0.9058   |  9.968    |  14.92    |  0.09759  |
|  15       |  0.9625   |  0.2461   |  3.025    |  2.047    |  0.01329  |
|  16       |  0.9641   |  0.7181   |  9.617    |  14.94    |  0.04785  |
|  17       |  0.9641   |  0.2066   |  9.716    |  14.98    |  0.01872  |
|  18       |  0.9636   |  0.2338   |  9.82     |  14.92    |  0.08932  |
|  19       |  0.9644   |  0.04738  |  9.864    |  14.93    |  0.05007  |
|  20       |  0.964    |  0.1617   |  9.959    |  14.81    |  0.07691  |
|  21       |  0.9641   |  0.6822   |  9.976    |  14.95    |  0.06155  |
|  22       |  0.9641   |  0.451    |  9.927    |  2.023    |  0.03565  |
|  23       |  0.9634   |  0.6042   |  3.168    |  2.012    |  0.05527  |
|  24       |  0.964    |  0.6618   |  9.613    |  14.83    |  0.07549  |
|  25       |  0.9625   |  0.3383   |  3.058    |  15.0     |  0.01753  |
=========================================================================

In [ ]:
optimizer.max
params = {
  "od_type":"Iter",
  "od_wait":25,
  "verbose":50,
  "learning_rate":optimizer.max['params']['learning_rate'],
  "depth":int(optimizer.max['params']['depth']),
  "l2_leaf_reg":int(optimizer.max['params']['l2_leaf_reg']),
  "bagging_temperature":optimizer.max['params']['bagging_temperature'] , 
  }
  
model = CatBoostClassifier(**params)
model.fit(x_train,y_train,
          cat_features = unique_cols , eval_set=(x_test,y_test))
preds = model.predict_proba(x_test)
preds= [i[1] for i in preds]
get_score(y_test,preds)

0:	learn: 0.6009952	test: 0.6021544	best: 0.6021544 (0)	total: 147ms	remaining: 2m 26s
50:	learn: 0.1971392	test: 0.2063180	best: 0.2063180 (50)	total: 7.07s	remaining: 2m 11s
100:	learn: 0.1916191	test: 0.2031057	best: 0.2031057 (100)	total: 13.3s	remaining: 1m 58s
150:	learn: 0.1889706	test: 0.2022934	best: 0.2022934 (150)	total: 19.1s	remaining: 1m 47s
200:	learn: 0.1866892	test: 0.2016974	best: 0.2016925 (198)	total: 25.1s	remaining: 1m 39s
250:	learn: 0.1849046	test: 0.2012473	best: 0.2012473 (249)	total: 30.6s	remaining: 1m 31s
300:	learn: 0.1843936	test: 0.2010650	best: 0.2010650 (300)	total: 35.1s	remaining: 1m 21s
350:	learn: 0.1831554	test: 0.2008194	best: 0.2008194 (350)	total: 40.9s	remaining: 1m 15s
400:	learn: 0.1819128	test: 0.2006019	best: 0.2006019 (399)	total: 46.2s	remaining: 1m 9s
450:	learn: 0.1806217	test: 0.2005474	best: 0.2005473 (449)	total: 52.1s	remaining: 1m 3s
500:	learn: 0.1792416	test: 0.2004889	best: 0.2004889 (500)	total: 58.3s	remaining: 58s
550:	learn: 0.1778185	test: 0.2003563	best: 0.2003449 (546)	total: 1m 4s	remaining: 52.6s
600:	learn: 0.1763476	test: 0.2002863	best: 0.2002842 (593)	total: 1m 10s	remaining: 47s
650:	learn: 0.1745390	test: 0.2001378	best: 0.2000653 (642)	total: 1m 17s	remaining: 41.5s
Stopped by overfitting detector  (25 iterations wait)

bestTest = 0.2000652814
bestIteration = 642

Shrink model to first 643 iterations.

0.9643759422311216

In [258]:
pd.DataFrame(list(zip(X.columns,model.feature_importances_)),columns = ['Feature','importance']).sort_values(by="importance",ascending=False)

                                      Feature  importance
22                        First_camp_donation   52.819409
14                                  Category1   38.178488
32      days_camp_started_before_registration    1.722878
31  days_left_for_camp_end_after_registration    0.984343
18                             camp_start_day    0.944087
33                days_from_first_interaction    0.776000
11                                        Age    0.607571
24                      Registration_Date_day    0.541390
10                            Education_Score    0.538965
15                                  Category2    0.443534
23                    Registration_Date_month    0.268051
4                                        Var5    0.222916
9                                      Income    0.217806
26                      First_Interaction_day    0.214418
27                      Camp_Start_Date_month    0.211417
21                         camp_duration_days    0.180159
12                    first_interaction_month    0.171175
25                    First_Interaction_month    0.156727
13                      first_interaction_day    0.153843
20                               camp_end_day    0.122246
0                                        Var1    0.083027
30                          Camp_End_Date_day    0.078791
29                        Camp_End_Date_month    0.078281
8                             Facebook_Shared    0.062683
3                                        Var4    0.060602
19                             camp_end_month    0.055002
28                        Camp_Start_Date_day    0.034473
6                             LinkedIn_Shared    0.030726
17                           camp_start_month    0.018284
7                              Twitter_Shared    0.009306
1                                        Var2    0.008095
5                             Online_Follower    0.005126
2                                        Var3    0.000180
16                                  Category3    0.000000

In [259]:
predictions = model.predict_proba(test.drop(['Patient_ID',"Health_Camp_ID","outcome"],axis=1))
predictions = [i[1] for i in predictions]
submission = test[['Patient_ID','Health_Camp_ID']]
submission['Outcome'] = predictions
submission.to_csv("submission_v20_cat.csv",index=False)
submission

       Patient_ID  Health_Camp_ID   Outcome
0          489652            6566  0.000643
1          507246            6566  0.004279
2          521364            6566  0.006006
3          494493            6566  0.000345
4          500733            6566  0.000518
...           ...             ...       ...
35244      486439            6577  0.348589
35245      526832            6577  0.339683
35246      495314            6577  0.303720
35247      490867            6577  0.256817
35248      525957            6577  0.718000

[35249 rows x 3 columns]

In [ ]:
one = pd.read_csv("submission_v7_cat_tuned.csv")
two = pd.read_csv("submission_v5_lgbm.csv")
three = pd.read_csv("submission_v6_xgb.csv")

on = ['Patient_ID','Health_Camp_ID']
sub = pd.merge(one,two,on=on)
sub = pd.merge(sub,three,on=on)
sub

final_pred = np.sum([0.8*sub['Outcome_x'],0.1*sub['Outcome_y'],0.1*sub['Outcome']],axis=0)
d = test[['Patient_ID','Health_Camp_ID']]
d['Outcome'] = final_pred
d.to_csv("ensemble_v5.csv",index=False)
d

       Patient_ID  Health_Camp_ID   Outcome
25872      489652            6566  0.003380
25873      507246            6566  0.010971
25874      521364            6566  0.018818
25875      494493            6566  0.002850
25876      500733            6566  0.004152
...           ...             ...       ...
21322      486439            6577  0.462312
21323      526832            6577  0.381198
21324      495314            6577  0.420075
21325      490867            6577  0.364144
21326      525957            6577  0.673663

[35249 rows x 3 columns]

In [ ]:
# submission.isna().sum()
final_pred

array([0.0026511 , 0.00855794, 0.01466008, ..., 0.40936261, 0.37999405,
       0.68865433])